<div class="flex flex-col w-full items-center justify-center">
  <p class="sunrise-time-text font-semibold text-1xl mt-1">{{ time }}</p>
  <div class="mt-1">
    <img src="{{ weather_iconUrl }}" class="w-10 place-self-center h-10" />
  </div>
  <div class="mt-1">
    <p class="sunrise-time-text font-bold text-2xl">{{ temperature }}&deg;C</p>
  </div>
  <div class="grid h-3/6">
    <div class="row-start-1 col-span-8 flex flex-col items-center mt-2">
      <img
        src="../../../assets/icons/wind-speed.png"
        class="w-6 place-self-center h-6 mr-3"
      />
    </div>
    <div
      class="row-start-1 col-span-8 flex flex-col items-center mt-2 justify-center"
    >
      <p class="sunrise-time-text font-normal text-lg">{{ wind_speed }}KM /H</p>
    </div>
  </div>
  <div class="grid h-3/6 mr-3">
    <div class="row-start-1 col-span-8 flex flex-col items-center mt-2">
      <img
        src="../../../assets/icons/humidity.png"
        class="w-6 place-self-center h-6 mr-5"
      />
    </div>
    <div
      class="row-start-1 col-span-8 flex flex-col items-center mt-2 justify-center"
    >
      <p class="sunrise-time-text font-normal text-lg">{{ humidity }}%</p>
    </div>
  </div>
  <div class="grid h-3/6 mr-5">
    <div class="row-start-1 col-span-8 flex flex-col items-center mt-2">
      <img
        src="../../../assets/icons/uv.png"
        class="w-6 place-self-center h-6 mr-5"
      />
    </div>
    <div
      class="row-start-1 col-span-8 flex flex-col items-center mt-2 justify-center"
    >
      <p class="sunrise-time-text font-normal text-lg">{{ uv }}</p>
    </div>
  </div>
</div>
