<div class="toggle-container">
  <app-selector
    currentSelector="{{ menuSelector }}"
    [selectors]="['SAVED', 'HISTORY', 'SETTINGS']"
    (selectorChange)="setMenuSelector($event)"
  ></app-selector>
</div>
<div
  class="menu-container mt-4 rounded bg-secondary w-full pt-1 overflow-scroll overflow-x-hidden"
>
  @if(menuSelector === 'SAVED') {
  <app-saved-locations></app-saved-locations>
  } @else if (menuSelector === 'HISTORY') {
  <app-search-history></app-search-history>
  } @else if (menuSelector === 'SETTINGS') {
  <app-settings></app-settings>
  }
</div>
