.tablist-container {
  background-color: #f7f7f7;
  border-radius: 0.4rem;
  width: fit-content;
  height: fit-content;
}

.tablist {
  display: flex;
  border-color: #000;
  border-width: 1px;
  border-radius: 0.4rem;
  align-items: flex-start;
  width: fit-content;
  height: fit-content;
}

.tab {
  flex: 1;
  cursor: pointer;
  border: none;
  border-radius: 0.4rem;
  background-color: #f7f7f7;
  color: #000;
  min-width: 100px;
  padding: 0.25rem;
  padding-top: 0.1rem;
}
.tab:hover {
  background-color: rgb(204, 204, 209) y;
  color: #000;
}

.tab.active {
  background-color: #000;
  color: #fff;
}

@media only screen and (max-width: 650px) {
  .tablist {
    flex-direction: column;
  }
}
