<div
  (click)="onClickRoute()"
  class="flex flex-row items-center gap-2 justify-between align-middle p-3 m-2 uppercase border-b border-black hover:bg-accent hover:cursor-pointer"
>
  <div class="flex flex-row flex-start items-center gap-3 hover:cursor-pointer">
    <label for="location" class="font-semibold text-2xl flex-start">{{
      name
    }}</label>
    <label for="country" class="">{{ country }}</label>
  </div>

  <label for="time" class="hover:cursor-pointer">{{ time }}</label>
</div>
