/* .parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 15px;
  margin: 8px;
  align-content: center;
  justify-items: center;
  width: "100%";
}

.div1 {
  grid-area: 1 / 1 / 2 / 3;
  align-content: center;
  max-width: 100px;
}
.div2 {
  grid-area: 1 / 3 / 2 / 4;
  align-content: center;
  width: max-content;
  font-size: x-small;
}
.div3 {
  grid-area: 1 / 4 / 2 / 5;
  align-content: center;
  width: max-content;
  font-size: x-small;
  margin-left: 5px;
} */
/* .parent {
  display: flex;
}
.div {
  flex: 1;
}
.div3 {
  flex: 1;
} */
