<div class="md:px-16 px-6">
  <div class="flex flex-row">
    <div class="hero-text-container pt-3 w-full">
      @if (baseLocationName == selectedLocation.name) {
      <p class="hero-label text-xl uppercase font-light">current location</p>
      } @else {
      <p class="hero-label text-xl uppercase font-light">Now viewing</p>
      }

      <p class="hero-text text-5xl uppercase font-bold">
        {{ selectedLocation.name
        }}<span class="text-2xl ps-3 font-light">{{
          selectedLocation.country
        }}</span>
      </p>
    </div>

    <div class="hero-text-container pt-3 w-full flex justify-end items-end">
      <p class="hero-text text-5xl uppercase font-bold">
        {{ currentTime }}<span class="text-2xl font-light">{{ meridiem }}</span>
      </p>
    </div>
  </div>

  <app-weather-widgets
    latitude="{{ selectedLocation.latitude }}"
    longitude="{{ selectedLocation.longitude }}"
    timezone="{{ selectedLocation.timezone }}"
  >
  </app-weather-widgets>

  <div class="bg-secondary flex flex-col mt-4 rounded-xl px-1 gap-0">
    <div class="mt-3">
      <app-selector
        currentSelector="{{ forecastSeletor }}"
        [selectors]="['HOURLY', 'DAILY']"
        (selectorChange)="forcastSelectorChange($event)"
      ></app-selector>
    </div>

    <app-info-carousal
      latitude="{{ selectedLocation.latitude }}"
      longitude="{{ selectedLocation.longitude }}"
      timezone="{{ selectedLocation.timezone }}"
      currentSelector="{{ forecastSeletor }}"
    ></app-info-carousal>
  </div>
  <div class="bg-secondary flex flex-col mt-4 rounded-xl px-1 gap-0">
    <div class="flex flex-row justify-between">
      <app-visualization-drop-down
        (startDate)="setStartDate($event)"
        (endDate)="setEndDate($event)"
      ></app-visualization-drop-down>
      <div class="pt-3 mt-8">
        <app-selector
          currentSelector="{{ visualizationSelector }}"
          [selectors]="[
            'TEMPERATURE',
            'WIND SPEED',
            'UV INDEX',
            'HUMIDITY',
            'AIR QUALITY'
          ]"
          (selectorChange)="onVisualizationSelectorUpdated($event)"
        ></app-selector>
      </div>
    </div>
    <div class="data-visualization mt-3">
      <app-visualization-cart
        latitude="{{ selectedLocation.latitude }}"
        longitude="{{ selectedLocation.longitude }}"
        selector="{{ visualizationSelector }}"
        start_date="{{ startDate }}"
        end_date="{{ endDate }}"
        timezone="{{ selectedLocation.timezone }}"
      >
      </app-visualization-cart>
    </div>
  </div>
</div>
