<div class="md:px-16 px-6">
  <div class="hero-text-container pt-3">
    <p class="hero-label text-xl uppercase font-light">current location</p>
    <p class="hero-text text-6xl uppercase font-bold">san francisco</p>
  </div>
  <div class="weather-widget-container mt-6">
    <div class="weather-widgets wid1 rounded-xl"></div>
    <div class="weather-widgets wid2 rounded-xl"></div>
    <div class="weather-widgets wid3 rounded-xl"></div>
    <div class="weather-widgets wid4 rounded-xl"></div>
    <div class="weather-widgets wid5 rounded-xl"></div>
    <div class="weather-widgets wid6 rounded-xl"></div>
    <div class="weather-widgets wid7 rounded-xl"></div>
  </div>
</div>
