<div class="md:px-16 px-6">
  <div class="hero-text-container pt-3">
    <p class="hero-label text-xl uppercase font-light">current location</p>
    <p class="hero-text text-5xl uppercase font-bold">san francisco</p>
  </div>
  <div class="weather-widget-container mt-6">
    <div class="weather-widgets wid1 rounded-xl overflow-hidden">
      <app-map-widget
        latitude="40.714627"
        longitude="-74.002863"
      ></app-map-widget>
    </div>
    <div class="weather-widgets wid2 rounded-xl">
      <app-temperature-widget></app-temperature-widget>
    </div>
    <div class="weather-widgets wid3 rounded-xl">
      <app-single-info
        imageUrl="../../../assets/icons/wind-speed.png"
        text="5 km/h"
      ></app-single-info>
    </div>
    <div class="weather-widgets wid4 rounded-xl">
      <app-single-info
        imageUrl="../../../assets/icons/humidity.png"
        text="36%"
      ></app-single-info>
    </div>
    <div class="weather-widgets wid5 rounded-xl">
      <app-single-info-label
        iconUrl="../../../assets/icons/uv.png"
        label="UV Index "
        result="12"
      ></app-single-info-label>
    </div>
    <div class="weather-widgets wid6 rounded-xl">
      <app-single-info-label
        iconUrl="../../../assets/icons/air-quality.png"
        label="Air Quality"
        result="Poor"
      ></app-single-info-label>
    </div>
    <div class="weather-widgets wid7 rounded-xl">
      <app-sun-position-indicator
        sunriseTime="05:00"
        sunsetTime="18:00"
        currentTime="10:00"
      ></app-sun-position-indicator>
    </div>
  </div>
  <div class="bg-secondary flex flex-col mt-4 rounded-xl px-3">
    <div></div>
    <app-info-carousal></app-info-carousal>
  </div>
</div>
