<div class="visualization-chart-container w-full h-full mb-20 relative">
  <div
    *ngIf="errorText"
    class="error-popup absolute w-full h-full flex flex-row justify-center items-center"
  >
    <div
      class="error-text w-1/2 h-1/2 flex flex-row justify-center items-center text-center bg-secondary rounded-lg shadow-lg px-20"
    >
      Please enter valid date range for {{ selector }}.
      {{ errorText }}
    </div>
  </div>
  <ngx-charts-line-chart
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [timeline]="timeline"
    [results]="multi"
    [autoScale]="true"
  >
  </ngx-charts-line-chart>
</div>
