<div class="grid">
  <div
    class="row-start-1 col-span-4 place-self-center ms-4 h-3/6 flex-nowrap"
    id="weather-icon-container"
  >
    <img src="{{ weather_icon_url }}" class="w-12 place-self-center h-12" />
  </div>
  <div
    class="row-start-1 col-span-6 flex flex-col items-center mt-4 flex-nowrap"
  >
    <p class="sunrise-time-text font-bold text-4xl">{{ temperature }}&deg;C</p>
  </div>
</div>
<div class="grid h-3/6">
  <div class="row-start-1 col-span-8 flex flex-col items-center mt-4">
    <p class="sunrise-time-text font-normal text-lg">
      H: {{ temperature_max }}&deg;C
    </p>
  </div>
  <div class="row-start-1 col-span-8 flex flex-col items-center mt-4">
    <p class="sunrise-time-text font-normal text-lg">
      L: {{ temperature_min }}&deg;C
    </p>
  </div>
</div>
