<div class="grid"> 
    <div class="row-start-1 col-span-1 h-3/6 flex-nowrap" id = "weather-icon-container"> 
        <img src = '../../../assets/icons/Sunny Day.png' class="w-11 h-11 ms-8 mt-3">
    </div> 
    <div class="row-start-1 col-span-8 flex flex-col items-center mt-3 pr-4 flex-nowrap"> 
        <p class="sunrise-time-text font-bold text-4xl">20&deg;C</p>
    </div> 
</div> 
<div class="grid h-3/6"> 
    <div class="row-start-1 col-span-8 flex flex-col items-center mt-3 pr-4"> 
        <p class="sunrise-time-text font-normal text-2xl">H: 22&deg;C</p>
    </div> 
    <div class="row-start-1 col-span-8 flex flex-col items-center mt-3 pr-4"> 
        <p class="sunrise-time-text font-normal text-2xl">L: 11&deg;C</p>
    </div> 
</div> 
