<div class="carousal-container flex flex-row items-center">
  <a
    class="carousel-button bg-accent rounded-lg me-2 flex items-center align-middle mb-4"
    (click)="goToPreviousPosition()"
    ><img
      src="../../../assets/icons/Right chevron.png"
      class="w-12 h-12 rotate-180"
      alt=""
  /></a>
  <div id="info-carousal" class="carousel w-full bg-secondary p-6">
    <div
      *ngFor="let timeObject of time; let index = index"
      id="item{{ index + 1 }}"
      class="carousel-item bg-accent rounded-lg p-0 block"
    >
      <app-carousel-info-tile
        [time]="timeObject"
        [temperature]="temperature[index]"
        [humidity]="humidity[index]"
        [uv]="uv[index]"
        [wind_speed]="wind_speed[index]"
        [weather_icon_url]="
          getWeatherIconUrl(
            weather_code[index],
            timeObject,
            day_night_status[index]
          )
        "
      ></app-carousel-info-tile>
    </div>
  </div>
  <a
    (click)="goToNextPosition()"
    class="carousel-button bg-accent rounded-lg ms-2 flex items-center align-middle mb-4"
    ><img
      src="../../../assets/icons/Right chevron.png"
      class="w-12 h-12"
      alt=""
  /></a>
</div>
