<div class="sortnfilter">
  <div class="sortoptn relative">
    <span class="text-start font-semibold">View Past Weather Data</span>
    <input
      type="text"
      placeholder="Enter duration(in number)"
      (keyup)="onSelectorKeyUp($event)"
      class="input input-sm input-bordered border-2 w-24 md:w-auto mt-1"
      id="rangePicker"
    />
    <ul
      *ngIf="showDropdown"
      class="menu bg-white dropdown-content rounded-box w-36 absolute mt-2 shadow-lg"
      id="searchDropdown"
    >
      <li *ngIf="dateContext > 900">
        <button>Enter a smaller range</button>
      </li>
      <li *ngIf="dateContext < 900">
        <button (click)="setDateRangeFromDays()">
          Past {{ dateContext }} Day@if (dateContext!=1) {s}
        </button>
      </li>
      <li *ngIf="dateContext < 144">
        <button (click)="setDateRangeFromWeeks()">
          Past {{ dateContext }} week@if (dateContext!=1) {s}
        </button>
      </li>
      <li *ngIf="dateContext < 120">
        <button (click)="setDateRangeFromMonths()">
          Past {{ dateContext }} month@if (dateContext!=1) {s}
        </button>
      </li>
      <li *ngIf="dateContext < 40">
        <button (click)="setDateRangeFromYears()">
          Past {{ dateContext }} year@if (dateContext!=1) {s}
        </button>
      </li>
    </ul>
  </div>
</div>
